<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    <section id="header">

        <a href="/"><img src="/images/home/logo.png" height="70" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="inactive" href="/login">LogIn</a></li>
            </ul>
        </div>
    </section>
    <div class="wrapper">
        <div class="bg container1">
            <h1>#Know Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>

        <div class="container2">
            <a href="https://paruluniversity.ac.in/who-we-are" target="_blank"><img class="img" src="/images/aboutImage/parul.jpg"></a>
            <div class="innerContainer1">
                <h2>Who We Are?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et laboriosam quo, eos eaque debitis inventore iure optio dignissimos nostrum iusto labore dolores voluptatem ipsam?</p>
            </div>
        </div>

        <section id="newsletter" class="section-p1">
            <div class="newstext">
                <h4>Sign Up For Updates</h4>
                <p>Get E-mail Updates About Our Latest Partnerships And <span>Special Offers!</span></p>
            </div>
        </section>
    
        <footer class="section-p1">
            <div class="col">
                <img src="/images/home/logo.png" height="70" alt="">
                <h4>Contact</h4>
                <p><strong>Address:</strong>6B25 PIET Parul University Limda </p>
                <p>contact:<a href="tel:+911234567890">1234567890</a></p>
                <p>email:<a href="mailto:2399.adi@gmail.com">2399.adi@gmail.com</a> </p>
    
                <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <a href="#"><i class="fa-brands fa-meta"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
    
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms And Conditions</a>
                <a href="#">Contact Us</a>
    
            </div>
            <div class="col">
                <h4>MY Account</h4>
                <a href="#">Sign Up</a>
                <a href="#">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Wishlist</a>
                <a href="#">Help</a>
            </div>
    
            <div class="col-install" >
                    <h4>Payment Partners</h4>
                    <p>Easebuzz</p>
                    <p>RazorPay</p>
                    <a href="#"><button class="normal">Back To Top</button></a>
    
            </div>
        </footer>
        <div class="copyright">
            <p>@2024, Contrive Pvt. Ltd. Incorporated In India(Swadeshi)</p>
      
        </div>
    
    </div>
</body>
</html>