<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/blog.css">
</head>

<body>

    <section id="header">

        <a href="/"><img src="/images/home/logo.png" height="70" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="inactive" href="/login">LogIn</a></li>
            </ul>
        </div>
    </section>
    <div class="wrapper">
        <div class="container1">
            <img src="/images/blogImage/blogImage.jpg">
            <div>
                <h1>#readmore</h1>
                <p>Read all case studies about our products!</p>
            </div>
        </div>

        <div class="container2">
            <div class="innerContainer21">
                <table>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel1.avif"></td>
                        <td style="display: flex;" class="hostel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quos voluptas sint officiis? Itaque nulla incidunt fugit nemo est hic qui nesciunt dicta atque a ipsum voluptatem neque eos sed adipisci error, eaque cupiditate, rerum, officiis recusandae illum voluptas tempore suscipit autem. Tempore eveniet officia et nemo praesentium deleniti dicta.</td>
                    </tr>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel2.avif"></td>
                        <td class="hostel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eos numquam quo veritatis, architecto ea eaque harum quibusdam nisi aperiam nam, optio delectus nesciunt, maxime alias temporibus accusamus? Quidem accusantium similique odit. Expedita reiciendis velit sed! Ipsam aut, totam voluptates, sed facilis laudantium non, quae nisi id veniam quod fugit.</td>
                    </tr>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel2.avif"></td>
                        <td class="hostel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, rerum laboriosam? Aliquam eveniet quam et voluptatum amet, vitae delectus exercitationem laboriosam cupiditate sint dolorem officiis at adipisci officia modi iusto mollitia odit, minima error consequuntur necessitatibus. Nesciunt eius nemo modi odio aliquid soluta dolorum saepe. Cumque culpa commodi alias libero.</td>
                    </tr>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel4.webp"></td>
                        <td class="hostel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, debitis ratione laborum deserunt soluta nisi, exercitationem facere dolorum est quos minima nemo ut nostrum. Consequatur reiciendis eum, facere ipsam cumque reprehenderit accusamus hic aliquam esse nisi, deleniti ab provident magni sint. Dolorum et nam quaerat vero suscipit, nulla eos mollitia?</td>
                    </tr>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel5.jpg"></td>
                        <td class="hostel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste atque laudantium commodi dolore ducimus, magni voluptatibus eligendi saepe similique nisi debitis obcaecati quis corporis recusandae vel alias totam minima eaque beatae hic. Excepturi, ea aliquam iusto, ut veritatis, officia fugiat aspernatur possimus fugit maiores unde. Atque nostrum eligendi dolorum!</td>
                    </tr>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel5.jpg"></td>
                        <td class="hostel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste atque laudantium commodi dolore ducimus, magni voluptatibus eligendi saepe similique nisi debitis obcaecati quis corporis recusandae vel alias totam minima eaque beatae hic. Excepturi, ea aliquam iusto, ut veritatis, officia fugiat aspernatur possimus fugit maiores unde. Atque nostrum eligendi dolorum!</td>
                    </tr>
                    <tr>
                        <td><img class="imag" src="/images/blogImage/hostel5.jpg"></td>
                        <td class="hostel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste atque laudantium commodi dolore ducimus, magni voluptatibus eligendi saepe similique nisi debitis obcaecati quis corporis recusandae vel alias totam minima eaque beatae hic. Excepturi, ea aliquam iusto, ut veritatis, officia fugiat aspernatur possimus fugit maiores unde. Atque nostrum eligendi dolorum!</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Updates</h4>
            <p>Get E-mail Updates About Our Latest Partnerships And <span>Special Offers!</span></p>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="/images/home/logo.png" height="70" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong>6B25 PIET Parul University Limda </p>
            <p>contact:<a href="tel:+911234567890">1234567890</a></p>
            <p>email:<a href="mailto:2399.adi@gmail.com">2399.adi@gmail.com</a> </p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="#"><i class="fa-brands fa-meta"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="col">

            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms And Conditions</a>
            <a href="#">Contact Us</a>

        </div>
        <div class="col">
            <h4>MY Account</h4>
            <a href="#">Sign Up</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Wishlist</a>
            <a href="#">Help</a>
        </div>

        <div class="col-install" >
                <h4>Payment Partners</h4>
                <p>Easebuzz</p>
                <p>RazorPay</p>
                <a href="#"><button class="normal">Back To Top</button></a>

        </div>
    </footer>
    <div class="copyright">
        <p>@2024, Contrive Pvt. Ltd. Incorporated In India(Swadeshi)</p>
  
    </div>

</body>
</html>