<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
     <section id="header">

        <a href="/"><img src="/images/home/logo.png" height="70" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="inactive" href="/login">LogIn</a></li>
            </ul>
        </div>
    </section>
    <div class="wrapper">
        <div class="bg container1">
            <h1>#Let's Talk</h1>
            <h2>LEAVE A MESSAGE, We love to hear from you</h2>
        </div>

        <div class="container2">
            <div class="innerContainer1">
                <p>GET IN TOUCH</p>
                <div>
                    <h2>Visit one of our agency locations or contact us today</h2>
                    <p><strong>Head Office</strong></p>
                </div>

                <table>
                    <tr>
                        <td><img class="img" src="/images/contactImage/map.png"></td>
                        <td><span>Parul University</span></td>
                    </tr>
                    <tr>
                        <td><img class="img" src="/images/contactImage/email.png"></td>
                        <td><a class="a" href="https://paruluniversity.ac.in/" target="_blank">Visit Our Website</a></td>
                    </tr>
                    <tr>
                        <td><img class="img" src="/images/contactImage/tel.jpg"></td>
                        <td><a class="a" href="tel: 9510300277">Call Us</a></td>
                    </tr>
                    <tr>
                        <td><img class="img" src="/images/contactImage/clock.png"></td>
                        <td><span>Monday-Friday (10:00 am to 4:00 pm)</span></td>
                    </tr>
                </table>
            </div>
            
            <div class="innerContainer2">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.745092955698!2d73.3609566751037!3d22.287643843354537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fda2400192473%3A0xc319c9237f2928e8!2sParul%20University!5e0!3m2!1sen!2sin!4v1710334786733!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Updates</h4>
            <p>Get E-mail Updates About Our Latest Partnerships And <span>Special Offers!</span></p>
        </div>
        
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="/images/contactImage/logo.png" height="70" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong>6B25 PIET Parul University Limda </p>
            <p>contact:<a href="tel:+911234567890">1234567890</a></p>
            <p>email:<a href="mailto:2399.adi@gmail.com">2399.adi@gmail.com</a> </p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="#"><i class="fa-brands fa-meta"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="col">

            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms And Conditions</a>
            <a href="#">Contact Us</a>

        </div>
        <div class="col">
            <h4>MY Account</h4>
            <a href="#">Sign Up</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Wishlist</a>
            <a href="#">Help</a>
        </div>

        <div class="col-install" >
                <h4>Payment Partners</h4>
                <p>Easebuzz</p>
                <p>RazorPay</p>
                <a href="#"><button class="normal">Back To Top</button></a>

        </div>
    </footer>
    <div class="copyright">
        <p>@2024, Contrive Pvt. Ltd. Incorporated In India(Swadeshi)</p>
    </div>
</body>
</html>