<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/err.css">
</head>
<body>
    <div class="wrapper">
        <p id="error">4😲4</p>
        <p>The page you were looking for was moved or doesn't exist.</p>
        
        <div style="color: red;">
            <p>┇</p>
            <p>┇</p>
            <p>┇</p>
        </div>

        <p>Let's get you back</p>

        <div style="color: red;">
            <p>┇</p>
            <p>┇</p>
            <p>┇</p>
        </div>

        <a href='/'><button id="button">BACK TO HOME</button></a>
    </div>
</body>
</html>